# Capstone Two - Pre-processing and Training Data Development

In [1]:
%reset_selective -f regex
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pprint
import numpy as np
import seaborn as sns
from scipy.stats import zscore
from sklearn import preprocessing
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:\Users\kevin\OneDrive\Documents\Hotel_Reservations.csv')
df.columns
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

# Creating Dummy Variables

In [3]:
dfo=df['avg_price_per_room'] 
dummy_room_values= pd.get_dummies(dfo)
dummy_room_values
df=pd.concat([df,dummy_room_values],axis=1)
del(df['avg_price_per_room'])

In [4]:
del(df['Booking_ID'])
del(df['type_of_meal_plan'])
del(df['room_type_reserved'])
del(df['market_segment_type'])
del(df['booking_status'])
y=df['no_of_weekend_nights']
no_response_var_data=df.drop(df.loc[:,['no_of_weekend_nights']],axis=1)
scaled=preprocessing.StandardScaler().fit(no_response_var_data)
scaled
X_scaled=scaled.transform(no_response_var_data)

C:\Users\kevin\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\kevin\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [5]:
no_response_var_data

,no_of_adults,no_of_children,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,...,299.33,300.0,306.0,314.1,316.0,332.57,349.63,365.0,375.5,540.0
0,2,0,2,0,224,2017,10,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,3,0,5,2018,11,6,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,2018,2,28,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,2,0,211,2018,5,20,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,1,0,48,2018,4,11,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,6,0,85,2018,8,3,0,0,...,0,0,0,0,0,0,0,0,0,0
36271,2,0,3,0,228,2018,10,17,0,0,...,0,0,0,0,0,0,0,0,0,0
36272,2,0,6,0,148,2018,7,1,0,0,...,0,0,0,0,0,0,0,0,0,0
36273,2,0,3,0,63,2018,4,21,0,0,...,0,0,0,0,0,0,0,0,0,0
36274,2,0,2,0,207,2018,12,30,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split

y=y.ravel()
X_train, X_test, y_train, y_tes=train_test_split(X_scaled,y)
print(no_response_var_data.columns)

Index([                'no_of_adults',               'no_of_children',
                  'no_of_week_nights',   'required_car_parking_space',
                          'lead_time',                 'arrival_year',
                      'arrival_month',                 'arrival_date',
                     'repeated_guest', 'no_of_previous_cancellations',
       ...
                               299.33,                          300.0,
                                306.0,                          314.1,
                                316.0,                         332.57,
                               349.63,                          365.0,
                                375.5,                          540.0],
      dtype='object', length=3942)

In [7]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [8]:
from sklearn.metrics import mean_squared_error, r2_score

y_prediction=model.predict(X_test)

In [9]:
explained_variance_score(y_prediction, y_tes)

-2.220446049250313e-16

In [11]:
mean_absolute_error(y_prediction, y_tes)

51174855065490.2